@font-face{
	font-family: "Montserrat Ultralight";
	src: url('../resourcers/fonts/font/Montserrat-UltraLight.otf');
}
a{
	font-weight: 500;
    color: #7b7b7b;
}
h3{
	margin: 30px 30px 30px 30px; 
}

.link{
	color: #4f7796;
}

.link_view{
	font-size: 20px;
	margin-bottom: 30px;
}

.empty{
	height: 2px;
	background-color: #f2f1f6;
}

.container{
	width: 1200px;	
}

.adm{
	font-weight: 50px;
	font-size: 50px;
}

.painel{
	float: left;  
	margin-left: 30px; 
	font-size: 25px;
}

.main{
	margin: 30px 30px 30px 34px; 
}
.main_content{
	background-color: #f0f3f5;
	height: auto;
}
.field{
	font-size: 15px;
}
